@import "tailwindcss";

/* Minimal global styles for app */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f1720; /* dark background to match designs */
  color: #e6eef8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

